* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

.nav-cont {
    height: 100%;
    width: 230px;
    padding: 16px;
}

.nav-cont nav{
    /* background-color: rgb(199, 56, 56); */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav-logo {
    box-sizing: border-box;
    background-color: rgb(166, 28, 28);
    height: 40px;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}

.menu-h6{
    padding: 0;
    text-decoration: none; 
    color: #86858d; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    margin: 0;
}

.nav-cont nav ul{
    padding: 4px 0;
    margin: 0;
    list-style-type: none;
}

.nav-cont nav li{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 40px;
    align-items: center;
    border-radius: 12px;
}

.nav-cont nav li:hover {
    background-color: #e4e3e8; 
    cursor: pointer;
}

.nav-cont nav li i{
    height: 100%;
    width: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-cont nav li i img{
    height: 24px; 
    width: 24px;
}

.nav-cont nav li a{
    padding: 0;
    padding-right: 12px;
    text-decoration: none; 
    color: black; 
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .875rem;
}

.main-cont {
    height: 100%;
    flex: 1;
    padding: 8px 8px 8px 2px;
    display: flex;
    flex-direction: column;
}

.main-sub-cont {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(219, 219, 219); 
    box-shadow: 0 0 1.5px rgb(219, 219, 219);
    background-color: white;
    border-radius: 14px;
}


.main-cont header {
    height: 50px;
    
}

.main-cont main {
    margin-top: 15px;
    height: 50px;
    flex: 1;
}

