* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f6;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

.nav-cont {
    height: 100%;
    width: 230px;
    padding: 16px;
}

.nav-cont nav{
    /* background-color: rgb(199, 56, 56); */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav-logo {
    box-sizing: border-box;
    background-color: rgb(166, 28, 28);
    height: 40px;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}

.menu-h6{
    padding: 0;
    text-decoration: none; 
    color: #86858d; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    margin: 0;
}

.nav-cont nav ul{
    padding: 4px 0;
    margin: 0;
    list-style-type: none;
}

.nav-cont nav li{
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 40px;
    align-items: center;
    border-radius: 12px;
}

.nav-cont nav li:hover {
    background-color: #e4e3e8; 
    cursor: pointer;
}

.nav-cont nav li i{
    height: 100%;
    width: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-cont nav li i img{
    height: 24px; 
    width: 24px;
}

.nav-cont nav li a{
    padding: 0;
    padding-right: 12px;
    text-decoration: none; 
    color: black; 
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .875rem;
}

.main-cont {
    height: 100%;
    flex: 1;
    padding: 16px 16px 16px 0;
}

.main-sub-cont {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(219, 219, 219); 
    box-shadow: 0 0 1.5px rgb(219, 219, 219);
    background-color: white;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-cont header {
    height: 120px;
    background-color: white;
    padding: 24px 20px;
}

.main-cont header hr{
    border: 1px solid #d1d1d1;
}

#main-little-title {
    /* background-color: aqua; */
    margin: 0;
    color: rgb(92, 92, 92); 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#main-title {
    /* background-color: aqua; */
    margin: 0;
    margin-top: 16px;
    color: rgb(45, 45, 45); 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.main-cont main {
    /* background-color: brown; */
    padding: 8px 20px 24px 20px;
    height: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.main-cont main .main-col1{
    /* background-color: #cc1111; */
    height: 100%;
    flex: 8;
    display: flex;
    flex-direction: column;
}

.main-cont main .main-col2{
    /* background-color: #11ccb3; */
    height: 100%;
    /* width: 460px; */
    width: 25.3vw;
    display: flex;
    flex-direction: column;
}

.main-cont main .main-meetings{
    background-color: #f4f4f4;
    flex: 1;
    width: calc(100% - 10px);
    margin: 0 10px 10px 0;
    border-radius: 2vh;
    border: 1px solid rgb(195, 192, 192); 
    box-shadow: 0 0 -4px rgb(195, 192, 192);
}

.main-cont main .main-kanban{
    background-color: #f4f4f4;
    flex: 2;
    width: calc(100% - 10px);
    margin: 10px 10px 0 0;
    border-radius: 2vh;
    border: 1px solid rgb(195, 192, 192); 
    box-shadow: 0 0 -4px rgb(195, 192, 192);
}

.main-cont main .main-calendar{
    background-color: #f4f4f4;
    /* height: 300px; */
    height: 16.5vw;
    width: calc(100% - 10px);
    margin: 0 0 10px 10px;
    border-radius: 2vh;
    border: 1px solid rgb(195, 192, 192); 
    box-shadow: 0 0 -4px rgb(195, 192, 192);
}

.main-cont main .main-tasks{
    background-color: #f4f4f4;
    flex: 1;
    width: calc(100% - 10px);
    margin: 10px 0 0 10px;
    border-radius: 2vh;
    border: 1px solid rgb(195, 192, 192); 
    box-shadow: 0 0 -4px rgb(195, 192, 192);
}