* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f6;
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0;
}

.nav-cont {
  height: 100%;
  width: 220px;
  padding: 13px;
}

.nav-cont nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav-logo {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.nav-logo a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-h6 {
  padding: 0;
  text-decoration: none;
  color: #86858d;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  user-select: none;
}

.nav-cont nav ul {
  padding: 4px 0;
  margin: 0;
  list-style-type: none;
}

.nav-cont nav li {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 40px;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}

.nav-cont nav li:hover {
  background-color: #e4e3e8;
}

.nav-cont nav li.nav-selected {
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 1.5px rgb(219, 219, 219);
}

.nav-cont nav li.nav-selected:hover {
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 1.5px rgb(219, 219, 219);
}

.nav-cont nav li i {
  height: 100%;
  width: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-cont nav li i img {
  height: 24px;
  width: 24px;
}

.nav-cont nav li a {
  padding: 0;
  padding-right: 12px;
  text-decoration: none;
  flex: 1;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
}

.main-cont {
  height: 100%;
  flex: 1;
  padding: 13px 13px 13px 0;
}

.main-sub-cont {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 1.5px rgb(219, 219, 219);
  background-color: white;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2.5vh 2.7vh 2.5vh 2.7vh;
}

.main-cont header {
  /* height: 120px; */
  background-color: white;
  padding-bottom: 16px;
}

.main-cont header hr {
  border: 1px solid #d1d1d1;
}

#main-little-title {
  /* background-color: aqua; */
  margin: 0;
  color: rgb(92, 92, 92);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#main-title {
  /* background-color: aqua; */
  margin: 0;
  margin-top: 16px;
  color: rgb(45, 45, 45);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.main-cont main {
  width: 100%;
  padding: 0 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main-gestor {
  /* <------------------------------------------ GESTOR */
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #f4f4f6;
  box-shadow: 0 0 2px #f4f4f6;
  border-radius: 13px;
  overflow: hidden;
  border: 1px solid rgb(219, 219, 219);
  padding: 0;
}

.main-gestor-header {
  border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 2px rgb(219, 219, 219);
  background-color: white;
  border-radius: 11px;
  width: 100%;
  height: 46px;
  padding: 0 1.4vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-sprint-title {
  margin: 0;
  color: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.main-sprint-settings {
  flex: 1;
  /* background-color: brown; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.main-sprint-settings-button {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0 0 1px rgb(210, 210, 210);
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}

.main-sprint-settings-button:hover {
  background-color: #e4e3e8;
}

#main-sprint-settings-button-right {
  margin-left: 8px;
  /* margin-right: 4px; */
}

#main-sprint-settings-button-left img {
  height: 22px;
  width: 22px;
}

#main-sprint-settings-button-right img {
  height: 22px;
  width: 22px;
}

.main-gestor-body {
  /* background-color: rgb(180, 19, 19); */
  width: 100%;
  flex: 1;
  padding: 0.2vh 1.4vh 0 6vh;
  overflow-y: auto;
}

.main-gestor-body::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  /* background: #18d450; */
}

.main-gestor-body::-webkit-scrollbar-track {
  /* background: #1417b8; */
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 4px;
}

.main-gestor-body::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

.main-gestor-body::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.main-category {
  margin: 1vh 0;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 2px rgb(219, 219, 219);
  background-color: white;
  border-radius: 11px;
  width: 100%;
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-category-header {
  background-color: white;
  box-shadow: 0 0 2px rgb(219, 219, 219);
  /* border-radius: 11px; */
  width: 100%;
  height: 38px;
  padding: 0 1.4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.main-category-body {
  border-top: 1px solid rgb(219, 219, 219);
  flex: 1;
  /* display: none; */
}

.main-category-color {
  height: 10px;
  width: 10px;
  border-radius: 11px;
  background-color: rgb(179, 74, 74);
  margin: 13px 1vh 15px 0;
}

.main-category-title {
  margin: 0;
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-category-settings {
  flex: 1;
  /* background-color: brown; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.main-category-settings-button-swap {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-category-settings-button-swap:hover {
  background-color: rgb(241, 241, 241);
}

.main-category-settings-button-swap img {
  height: 22px;
  width: 22px;
}

.main-category-body table {
  width: 100%;
  border-collapse: collapse;
}

.main-category-body table thead tr {
  /* padding-bottom: 2px; */
  height: 22px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

.main-category-body table thead tr th {
  padding: 0 0.5vh;
  padding-top: 3px;
  color: #aeadb4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.88rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-category-body table thead tr th:first-child {
  padding-left: 1.4vh;
}

.main-category-body table thead tr th:last-child {
  padding-right: 1.4vh;
}

.main-category-body table tbody tr {
  padding-top: 1px;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(253, 253, 253);
  display: flex;
  align-items: center;
  border-top: 0.05vh solid rgb(240, 240, 240);
  color: rgb(61, 61, 61);
}

.main-category-body table tbody tr td {
  /* background-color: aqua; */
  padding: 0 0.5vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.main-category-body table tbody tr td h3 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.main-category-body table tbody tr td:first-child {
  padding-left: 1.4vh;
}

.main-category-body table tbody tr td:last-child {
  padding-right: 1.4vh;
}

.main-category-body table tbody tr:hover {
  background-color: rgb(234, 239, 244);
  color: rgb(55, 92, 132);
  box-shadow: 0 0 2px rgb(234, 239, 244);
}

.main-task-name {
  flex: 4.6;
}

.main-task-type {
  flex: 0.8;
}

.main-task-state {
  flex: 0.8;
}

.main-task-start {
  flex: 1.5;
}

.main-task-end {
  flex: 1.5;
}

.main-task-asignTo {
  flex: 1.5;
}

.main-task-anim {
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.main-task-anim img {
  height: 24px;
  width: 24px;
  display: none;
}

.main-category-body table tbody tr:hover .main-task-anim img {
  display: block;
}

#main-gestor-info {
  /* <------------------------------------------ GESTOR INFO*/
  display: flex;
  flex-direction: column;
  flex: 1.2;
  overflow: hidden;
  padding: 0;
  margin-left: 1.3vh;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 2px rgb(219, 219, 219);
  background-color: white;
  border-radius: 13px;

}

.main-gestor-info-header {
  background-color: white;
  border-radius: 11px;
  width: 100%;
  height: 46px;
  padding: 0 1.4vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-gestor-info-header-title {
  margin: 0;
  color: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-gestor-info-header-settings {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.main-gestor-info-settings-button {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  border: none;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-gestor-info-settings-button:hover {
  background-color: #e4e3e8;
}

#main-gestor-info-settings-button-close img {
  height: 22px;
  width: 22px;
}

.main-gestor-info-body {
  width: 100%;
  flex: 1;
  padding: 0 2vh 2vh 2vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 2vh;
  position: relative;
}

.main-gestor-info-body-task {
  width: 100%;
  padding-bottom: 8px;
}

.main-gestor-info-body-task h2 {
  width: 100%;
  margin: 0;
  color: rgb(61, 61, 61);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.main-gestor-info-body-category {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  z-index: 4;
}

.main-gestor-info-body-category h2 {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.main-gestor-info-body-state {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  z-index: 3;
}

.main-gestor-info-body-state h2 {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.main-gestor-info-body-type {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  z-index: 2;
}

.main-gestor-info-body-type h2 {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.main-gestor-info-body-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 8px;
  z-index: 1;
}

.main-gestor-info-body-info h2 {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.main-gestor-info-body-dates {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

.main-gestor-info-body-date {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.main-gestor-info-body-date > h2 {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.main-gestor-info-body-title {
  color: #9b9a9e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 4px;
}

.add-asign-button {
  
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e700;
  display: flex;
  align-self: flex-end;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 100%;
}

.add-asign-button:hover {
  background-color: #e7e7e7;
}

.save-asign-button {
  height: 24px;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e700;
  display: flex;
  align-self: flex-end;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 25%;
}

.save-asign-button:hover {
  background-color: #b5d1a9;
}


/*tabla de asignados*/
.main-gestor-info-body-asign {
  flex: 1;
  overflow-y: auto;
}

.asign-table {
  width: 100%;
  border-collapse: collapse;
}

.asign-table-body {
  text-align: left;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.asign-table-body tr {
  text-align: left;
  align-items: center;
}

.asign-table-body tr:hover {
  background-color: #f1f1f1;
  .remove-button img {
    display: block;
  }
}

.asign-table-body tr img {
  background-color: #e7e7e7;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-size: 12px;
  background-color: #f4433600;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.main-gestor-info-body-asign::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.main-gestor-info-body-asign::-webkit-scrollbar-track {
  border-radius: 10px;
}

.main-gestor-info-body-asign::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

.main-gestor-info-body-asign::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.main-gestor-info-body-group-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-gestor-info-body-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remove-button img {
  width: 15px;
  height: 15px;
  display: none;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

/*tabla de nuevas asignaciones*/

.new-asign-table-body tr:hover {
  .remove-button img {
    display: block;
  }
}

.add-new-user-asign {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffffd2;
}

.add-new-user-asign-table {
  padding: 20px;
  width: 80%;
  max-width: 400px;
  position: relative;
 
  width: 100%;
}

.add-new-user-asign-table tr {
  height: 15px;
  justify-content: center;
  align-items: center;
}

.add-new-user-asign-table tr:hover {
  background-color: azure;
}



.add-new-user-asign .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 24px;
  border-radius: 100%;
}

.add-new-user-asign .close-button:hover {
  background-color: #f3f3f3;
}

#new-user-form-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  gap: 10px;
  
}

